
{% extends 'Student/StudentHome.html' %}
{% block body %}

<body>

       <form method="post" action="/myapp/S_send_doubts_post/#abc">
               <table class="table table-bordered ">

           {% csrf_token %}
                   <tr>
                       <td width="190px">Doubt</td>
                       <td>
           <input type="hidden" name="tid" value="{{ id }}" >
           <textarea name="reply" required class="form-control"></textarea>           <br>
                       </td>
                   </tr>
                   <tr align="center">
                       <td colspan="2"><input type="submit" value="Send"  class="btn btn-success"></td>
                   </tr>
    </table>
                  </form>
</body>
{% endblock %}