{% extends 'Student/StudentHome.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/myapp/S_View_notes_post/#abc">{% csrf_token %}
<table class="pull-left">
    <tr>
        <td>From</td>
        <td>
            <input type="date" placeholder="Search here" name="f" class="form-control">
        </td>
        <td>To</td>
         <td>
            <input type="date" placeholder="Search here" name="t" class="form-control">
                         <input type="hidden" name="sid" value="{{ id }}">

        </td>
        <td>
            <input type="submit" value="Search" class="btn btn-info">
        </td>
    </tr>
</table><br>
<br>
  <table class="table table-bordered ">
    <tr>
      <th>SL.no</th>
      <th>Subject Details</th>
      <th>Syllabus</th>
      <th>Year</th>
        <td></td>
        <td></td>
    </tr>
    {% for i in data %}
    <tr>
      <td width="50px">&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.SELECTED_SUBJECT.SUBJECT.Subname }}</td>
      <td>&nbsp;{{ i.date }}</td>
      <td>{{ i.title }}</td>
        <td width="50px"><a href="{{ i.note }}" class="btn btn-danger">View</a> </td>
        <td width="50px"><a href="{{ i.note }}" download class="btn btn-success">Download</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}