{% extends 'Admin/AdminHome.html' %}
{% block body %}

<body>
<form action="/myapp/edit_syllabus_post/#abc" method="post" enctype="multipart/form-data" name="form1" id="form1">{% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td width="190px">Subject</td>
      <td><label for="select"></label>
        <select name="select" id="select"class="form-control">
<option value="{{ data1.SUBJECT.id }}">{{ data1.SUBJECT.Subname }}</option>
          {% for i in data %}
          <option value="{{ i.id }}">{{ i.Subname }}</option>
          {% endfor %}      </select></td>
    </tr>
    <tr>
      <td width="190px">Syllabus</td>
      <td>
          <img src="{{ data1.syllabus }}" height="100px" width="100px" alt=""/>
      <input type="file" name="fileField" id="fileField" class="form-control" /></td>
    </tr>
    <tr>
      <td width="190px">year</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2"value="{{ data1.year }}" required class="form-control"/></td>
      <input type="hidden" name="id1" id="textfield2" value="{{ data1.id }}"/>
    </tr>
    <tr>
      <td align="center"colspan="2"><input type="submit" name="button" id="button" value="Update" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}