{% extends 'Admin/AdminHome.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/view_course_post/#abc">
    {% csrf_token %}
<table class="fa-pull-left">
  <tr>
      <td>
          <input type="text" name="textfield" id="textfield" placeholder="Search with Course" class="form-control"/></td>
      <td><input type="submit" value="search"class="btn btn-info"/></td>
  </tr>
</table><br><br>
  <table class="table table-bordered ">
  <tr>
    <th >Sl/No</th>
    <th>Course name</th>
    <th>Department name</th>
    <th>semester</th>
      <td></td>
      <td></td>


  </tr>
    {% for i in data %}
  <tr>
    <td width="50px">&nbsp;{{ forloop.counter }}</td>
    <td>{{ i.coursename }}</td>
    <td>&nbsp;{{ i.DEPARTMENT.departmentname }}</td>
    <td>{{ i.totalsem }}</td>
    <td width="50px"><a href="/myapp/Edit_course/{{ i.id }}#abc" class="btn btn-success">Edit</a></td>
    <td width="50px"><a href="/myapp/delete_cour/{{ i.id }}#abc" class="btn btn-danger">Delete</a></td>
  </tr>
    {% endfor %}
</table>
</form>

</body>
{% endblock %}