{% extends 'Admin/AdminHome.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/view_syllabus_post/#abc">
{% csrf_token %}
<table class="fa-pull-left">
    <tr>
      <td>
      <input type="text" name="textfield" id="textfield" placeholder="Search with Subject" class="form-control"/></td>
      <td><input type="submit" name="button" id="button" value="Search" class="btn btn-info"/></td>

    </tr>
  </table>
<br>
<br>
  <table class="table table-bordered ">
    <tr>
      <th>SL.no</th>
      <th>Subject Details</th>
      <th>Syllabus</th>
      <th>Year</th>
        <td></td>
        <td></td>
    </tr>
      {% for i in data %}
    <tr>
      <td width="50px">&nbsp;{{ forloop.counter }}</td>
              <td>&nbsp;{{ i.SUBJECT.Subname }}<br>{{ i.SUBJECT.semester }}</td>

      <td>&nbsp;{{ i.year }}</td>
        <td><a href="{{ i.syllabus }}"class="btn btn-info">View</a> </td>
      <td width="50px"><a href="/myapp/Edit_syllabus/{{ i.id }}#abc"class="btn btn-success">Edit</a></td>
      <td width="50px"><a href="/myapp/delete_syllabus/{{ i.id }}#abc"class="btn btn-danger">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
